*.d
__pycache__/
*.pyc
.pytest_cache/
.venv/
.venv-tf/
codigo/
.vscode
.codex
.codex/
.vscode/
docs/projeto.md
docs/resumo.md
docs/
logs/


*.log
*.o
codigo-ET/
*.ko
*.obj
*.elf

*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su
*.idb
*.pdb

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/
build_*/
sdkconfig.old
test/sdkconfig
test/sdkconfig.old
managed_components/
dependencies.lock

*.dwo
